# Python for competitive Programming

## Input Output ricks in python

In [10]:
m,n=map(int,input().split())

2 3

In [13]:
type(m)

int

In [16]:
m,_,n=map(int,input().split())

2 3 4

In [20]:
print(m,n)

2 4

In [25]:
m,n=input().split()

Vaibhav kumar

In [29]:
print(m+n)

Vaibhavkumar

In [30]:
l=list(input().split())

2 3 5 4 65 I love Python

In [32]:
l

['2', '3', '5', '4', '65', 'I', 'love', 'Python']

In [38]:
*m,n=input().split()

2 3

In [40]:
print(type(m),type(n))

<class 'list'> <class 'str'>

### For google codejam

In [43]:
for i in range(5):
    print("Case #{}: {}".format(i+1,i))

Case #1: 0
Case #2: 1
Case #3: 2
Case #4: 3
Case #5: 4

### Some faster implementation

In [49]:
import sys
m,n=map(int,sys.stdin.readline().split(' '))

ValueError: invalid literal for int() with base 10: ''

### Python Strings

In [51]:
#To print a reverse string
s='Vaibhav'
print(s[::-1])

vahbiaV

In [57]:
s='\n is used for next line'
print(s)
s=r'\n is used for next line'#r stands for raw string which ignores escape sequences
print(s)

 is used for next line
\n is used for next line

In [60]:
#Format function
print("{} {} {}".format("Vaibhav","is","Great"))

Vaibhav is Great

In [64]:
#Format function for numbers
print("{0:b}".format(10))
print("{0:e}".format(10))
print("{0:.2f}".format(10))

1010
1.000000e+01
10.00

In [1]:
#format for alignment
s="{1:<10}{0:^10}{2:>10}".format('Center justified','Left justified','Right Justified')
print(s)
s="{1:<20}{0:^20}{2:>20}".format('Center justified','Left justified','Right Justified')
s

Left justifiedCenter justifiedRight Justified

'Left justified        Center justified       Right Justified'

### String functions

In [10]:
s='Vaibhav'
print(s.isdigit(),s.isalpha(),s.isdecimal(),
     s.isidentifier(),s.isalnum(),s.istitle(),sep='\n')

False
True
False
True
True
True

In [20]:
mobile_no=9999999999
s="-".join(['+91',str(mobile_no)])
l=s.split(sep='-')
print(s,l,sep='\n')

+91-9999999999
['+91', '9999999999']

In [25]:
s='This IS noT a TiTLE CAse'
print(s,s.capitalize(),s.lower(),s.upper(),
     s.swapcase(),sep='\n')

This IS noT a TiTLE CAse
This is not a title case
this is not a title case
THIS IS NOT A TITLE CASE
tHIS is NOt A tItle caSE

In [31]:
s='Vaibhav'
print(s.ljust(20,'*'),s.rjust(20),s.center(20),sep='\n')

Vaibhav*************
             Vaibhav
      Vaibhav

In [39]:
s='This has repeat word repeated again and again'
s.replace('repeat','again',1)

'This has again word repeated again and again'

In [52]:
s='         This has unwanted marks and spaces*         '
print(s,s.strip(),s.rstrip(),s.lstrip(),sep='\n')

         This has unwanted marks and spaces*
This has unwanted marks and spaces*
         This has unwanted marks and spaces*
This has unwanted marks and spaces*

In [64]:
s='The quick brown fox runs over a lazy dog'
print(s,s.count('The'),s.find('a'),s.rfind('a')
      ,sep='\n')

The quick brown fox runs over a lazy dog
1
30
33

In [74]:
s="I don't have another examples"
s.partition('have')

("I don't ", 'have', ' another examples')

### List functions

In [110]:
l='This list is not exhaustive'.split()
l.append('for')
l.extend(['eg.','for eg.'])
l.insert(2,'l')
print(l)
l.remove('eg.')
print(l)
l.pop()
print(l)
l.append('for')
print(l.index('for'))
print(l.count('for'))

['This', 'list', 'l', 'is', 'not', 'exhaustive', 'for', 'eg.', 'for eg.']
['This', 'list', 'l', 'is', 'not', 'exhaustive', 'for', 'for eg.']
['This', 'list', 'l', 'is', 'not', 'exhaustive', 'for']
6
2

In [118]:
l=[1,2,1,2,5,3,56,432,22,13]
l.sort()
print(l)
l.reverse()
print(l)

[1, 1, 2, 2, 3, 5, 13, 22, 56, 432]
[432, 56, 22, 13, 5, 3, 2, 2, 1, 1]

In [122]:
m,n=map(int,input().split())

2 3

In [138]:
l=list(range(10))
def iseven(x):
    return bool(not(x%2))
f=filter(iseven,range(10))
print(list(f))
#Lambda function- The Anonymous function
f=filter(lambda x:bool(not(x%2)),range(10))
print(list(f))

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

### Tuples functions

In [139]:
#You know all about it

### Set functions

In [150]:
s=set()#to create an empty set
s.add('3')
s.update(['1','2'])
s.remove('1')
s.discard('2')#Doesn't give key error if the element doesn't exist
s.clear()
s
#Frozen sets
s=frozenset(('V','a','i'))#immutable

In [163]:
#math functions
s1={1,2,3,4,5}
s2={3,4,5,6,7,8}
print(s1.union(s2),s1.intersection(s2),s1.difference(s2),
      s1.symmetric_difference(s2),s1.isdisjoint(s2),s1.issubset(s2),
      s1.issuperset(s2),sep='\n')

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7, 8}
False
False
False

In [166]:
s1={1,2,3}
s2={2,3,4}
s1.intersection_update(s2)#Same for all _update functions
s1

{2, 3}

### Dictionary functions

In [179]:
d={'A':'Vaibhav','B':'Janak','C':'Krupal'}
print(d.values())
print(d.keys())
print(d.items())
# see the effect of fromkeys
d.fromkeys(['A','B','C','D'],
          ['Vaibhav','Janak','Krupal','Anand'])#to generate dictionary from list/sequence

dict_values(['Vaibhav', 'Janak', 'Krupal'])
dict_keys(['A', 'B', 'C'])
dict_items([('A', 'Vaibhav'), ('B', 'Janak'), ('C', 'Krupal')])

{'A': ['Vaibhav', 'Janak', 'Krupal', 'Anand'],
 'B': ['Vaibhav', 'Janak', 'Krupal', 'Anand'],
 'C': ['Vaibhav', 'Janak', 'Krupal', 'Anand'],
 'D': ['Vaibhav', 'Janak', 'Krupal', 'Anand']}

### Arrays in python

In [226]:
import array as ar
a=ar.array('i',range(10))
print(a[2])
a.append(10)
a.insert(2,11)
a.pop(2)#argument is index #it returns the removed element too.
a.insert(2,8)
a.index(8)#returns first occurenece of the element from left
a.remove(8)#removes the first occurrnce of the element from left
a.reverse()
print(a)
a.extend(ar.array('i',range(4)))
print(a.count(1))
a.fromlist([44,45])
print(a)
l=a.tolist()
type(l)

2
array('i', [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0])
2
array('i', [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0, 1, 2, 3, 44, 45])

list

In [227]:
print(a.typecode,a.itemsize,a.buffer_info())
#itemsize returns size in byte of a single element
#buffer_info() returns (address in which array is stored,no. of elements)

i 4 (140493475319296, 17)

|'Type Code'| C type |Python type|Minimum size in bytes|
|---------|---------|--------|-------------|
|‘b’| 	signed char 	    |int              |1|
|‘B’| 	unsigned char 	    |int              |1|
|‘u’| 	Py_UNICODE 	        |unicode character|2|
|‘h’| 	signed short 	    |int              |2|
|‘H’| 	unsigned short 	    |int              |2|
|‘i’| 	signed int 	        |int              |2|
|‘I’| 	unsigned int 	    |int              |2|
|‘l’| 	signed long 	    |int              |4|
|‘L’| 	unsigned long 	    |int              |4|
|‘q’| 	signed long long    |int              |8|
|‘Q’| 	unsigned long long 	|int              |8|
|‘f’| 	float 	            |float            |4|
|‘d’| 	double 	            |float            |8|

### Common functions

enumerate()
min()
max()
len()
sum()
all()
any()
sorted()
del
data_structure.pop()
data_structure.clear()